@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;

}
html{
    background-color: rgb(31, 31, 31);
}
header{
    background-color: black;
    height: 70px;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 20px;

    

}

body{
margin:auto;
background-color: rgba(204, 204, 204, 0.404);
width: 1000px;
height: 100vw;

}

footer{
    background-color: rgb(19, 19, 19);
    height: 150px;
    width: 100%;
}

